@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

* {
    box-sizing: border-box;
    background-color: #333;
    color: whitesmoke;

    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
}

body {
    font-size: 0.7rem; /* Default font size */
    margin: 1rem;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .login {
    float: left;
    padding: 14px 16px;
}

/* Style the footer */
.footer, .footer p {
    padding-top: 1rem;
    background-color:#333;
    font-size: 0.5rem;
    color: darkgray;
}
.footer a {
    text-decoration: none;
    color: darkgray;
}

/* SVG */
.graphs #project-info {
    margin-top: 20px;
}

#project-chart {
    background-color: #222; /* Dark background for contrast */
    border: 1px solid #444; /* Optional border */
}

#project-chart text {
    font-size: 0.25rem;
    fill: white;
}

#project-chart line {
    stroke: gray;
    opacity: 0.5; /* Line opacity */
    stroke-width: 0.5;
}

#project-chart circle {
    r: 2; /* Circle radius */
    cursor: pointer;
}
#project-chart circle:hover {
    filter: drop-shadow(0 0 2px white); /* Add a glowing effect */
}

/* #member-chart circle {
} */

/* Hover effect for circles */
#member-chart circle:hover {
    fill: gray; /* Change color on hover */
    filter: drop-shadow(0 0 10px darkgray); /* Add a glowing effect */
}

/* Style for the text inside circles */
#member-chart text {
    font-size: 0.85rem;
    font-weight: bold;
    stroke-width: 0.2px; /* Thickness of the outline */
    pointer-events: none; /* Prevent text from interfering with circle hover */
    text-wrap: wrap;
}